<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Titley title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Hi there folks!</h1>
        <form action="/process_form" method="POST">
            <input type="" name="first_name" value="" placeholder="first_name">
            <input type="" name="last_name" value="" placeholder="last_name">
            <input type="" name="email" value="" placeholder="email">
            <input type="" name="other_thing" value="" placeholder="other_thing">
            <input type="submit" value="submit the form if you would like">
        </form>
    </body>
</html>